awscli>=1.10.9
troposphere>=1.5.0
awacs>=0.5.4
tropopause>=0.3
PySocks>=1.5.6
requests>=2.9.1
sh>=1.11
docopt>=0.6.2
boto3>=1.2.6
dcos>=0.3.6
dcoscli>=0.3.6
pystache>=0.5.4
PyYaml>=3.11
subprocess32>=3.2.7

