{
    "mesos": {
        "master": "zk://{{zk}}/mesos"
    }, 
    "kafka": {
        "app": {
            "cpus": 2, 
            "mem": 512, 
            "heap-mb": 512,
            "instances": 1, 
            "kafka": "https://s3.amazonaws.com/saasbase-repo/cell-os/kafka-mesos/kafka_2.10-0.9.0.0.tgz",
            "jar": "https://s3.amazonaws.com/saasbase-repo/cell-os/kafka-mesos/kafka-mesos-0.9.4.0.jar"
        }, 
        "zk": "{{zk}}"
    }
}
