<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Cell status</title>

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.1/lodash.min.js" ></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.6/zepto.min.js" ></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.1/moment.min.js" ></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/1.3.0/moment-duration-format.min.js" ></script>
  <script type="text/javascript">
window.state = {}

$(document).ready(function() {
    var STATUS_LOCATION = "/shared/status/"
    var LOAD_INTERVAL_MS = 2000
    var DISPLAY_INTERVAL_MS = 3000
    config = extractConfig(window.location)

    /**
     * detects cell name, bucket, region from the url
     */
    function extractConfig(url) {
        var bucket = /:\/\/([^\.]*)\./g.exec(url)[1]
        var region = /\.s3(.*)\.amazonaws/.exec(url)[1]
        return {"cell_name": bucket, "bucket": bucket, "region": region}
    }

    /**
     * creates an S3 listing url
     * @param config object containing bucket and region
     * @return {String} full S3 listing url
     */
    function createListUrl(config) {
        return "http://" + config.bucket + ".s3" + config.region +
                ".amazonaws.com/?delimiter=/&prefix=" +
                config.bucket + STATUS_LOCATION
    }

    /**
     * Parses a status instance file into a instance structure
     *
     * seeds 00-docker,00-java,01-exhibitor,02-mesos,10-marathon,99-cell,zk_barrier 1455659275
     * stateless-body start 1455659274
     * 00-docker start 1455659282
     * 00-docker end 1455659339
     * 00-java start 1455659339
     * 00-java end 1455659415
     * 01-exhibitor skipped 1455659416
     * zk_barrier start 1455659416
     * zk_barrier end 1455660144
     * 02-mesos start 1455660145
     * 02-mesos end 1455660170
     * 10-marathon start 1455660170
     * 10-marathon end 1455660225
     * 99-cell skipped 1455660226
     * stateless-body end 1455660227
     *
     * @param file multi line string, file contents
     * @return state object containing metadata
     */
    function parseInstanceFile(file) {
        var state = {}
        state.spans = {}

        _.each(file.split("\n"), function(line) {
            var pieces = line.split(" ")
            var subject = pieces[0]
            var action = pieces[1]
            var time = parseInt(pieces[2])

            switch (subject) {
                case "seeds":
                    // seeds are used to drive the display for each instance
                    // in order to include skipped steps - represented as missing data
                    state.seeds = action.split(",")
                    break;
                case "role":
                    state.role = action
                    break;
                default:
                    if (state.spans[subject] === undefined) {
                        state.spans[subject] = {name: subject}
                    }
                    var span = state.spans[subject];
                    span[action] = time
                    // although we may remove skipped, let's make a skipped action look
                    // like a normal span
                    if (action == 'skipped') {
                        span.start = span.skipped
                        span.end = span.skipped
                    }
                    if (!(span.end === undefined) && !(span.start === undefined)) {
                        span['duration'] = span.end - span.start
                    }
            }
        })

        state.seeds = _.sortBy(state.seeds, function (seed) {
            return _.get(state.spans, seed + ".start", Number.MAX_VALUE)
        })
        return state
    }

    /**
     * Parses the S3 listing xml result into a list of instance status files
     * @param xml - Xml S3 listing result object
     * @return {Array} list of file names
     */
    function filesFromListing(xml) {
        var xmlContents = $(xml).find('Contents')
        return _.chain(xmlContents)
            .map(function(item) {
                item = $(item)
                return {
                    key: item.find('Key').text(),
                    last_modified: item.find('LastModified').text(),
                    size: item.find('Size').text()
                }
            })
            .filter(function(item) {
                return item.key.search("status.html") < 0
            })
            .value()
    }

    /**
     * Two step loading function
     * - loads the listing
     *   - for each file in the listing, load the file, and parse it
     */
    function loadData() {
        $.ajax({
            type: "GET", 
            url: createListUrl(config),
            success: function(xml) {
              _.each(filesFromListing(xml), function(item) {
                  $.get("http://" + config.bucket + ".s3" + config.region + ".amazonaws.com/" + item.key, function(file) {
                      window.state[item.key] = parseInstanceFile(file)
                  })
              })
            }
        })
    }

    /**
     * Creates a cell structure that contains the current cell provisioning status
     * - start / end time (if the cell is ready)
     * - exhibitor converge time
     * - status for each invididual instance
     */
    function extractViewState(config, state) {
        //{ "i-xxx": }
        var cell = {
            name: config.bucket,
            cell_start: -1,  // first instance up
            cell_end: -1,  //last instance up
            zk_start: -1,
            zk_end: -1,
            instances: []
        }
        cell.instances = _.map(state, function(v, k) {
            v.id = k.replace(/.*\/([^\/]*)/, "$1")
            return v
        })
        if (cell.instances.length == 0) {
            return cell
        }
        cell.cell_start = _.chain(cell.instances)
            .map(function(m) { return _.get(m, "spans." + m.role + ".start", -1) })
            .filter(function(m) { return m > 0 }) // don't include missing values
            .min()
            .value()
        cell.cell_end = _.chain(cell.instances)
            .map(function(m) { return _.get(m, "spans." + m.role + ".end", -1) })
            .max()
            .value()
        var zk_start = _.chain(cell.instances)
            .map(function(m) { return _.get(m, "spans.01-exhibitor.start", -1) })
            .filter(function(m) { return m > 0 }) // dont't include missing values
            .min()
            .value()
        if (! _.isUndefined(zk_start)) {
            cell.zk_start = zk_start
        }
        var zk_end = _.chain(cell.instances)
            .map(function(m) { return _.get(m, "spans.zk_barrier.end", -1) })
            .max()
            .value()
        if (! _.isUndefined(zk_end)) {
            cell.zk_end = zk_end
        }
        return cell
    }

    /**
     * Renders cell status
     */
    function displayCell(cell) {
        var cellTemplate = _.template($('#cell_template').html(), {
            "imports": {
                "timeDelta": timeDelta,
                "timeSinceNow": timeSinceNow
            }
        })
        $("#status").html(cellTemplate(cell))
        _.each(["nucleus", "stateless-body", "stateful-body", "membrane"], function(role) {
            displayInstances(role, cell.instances)
        })
    }

    /**
     * Renders a list of instances in a role (nucleus, etc)
     */
    function displayInstances(role, instances) {
        $("#" + role).html("")
        var nodeTemplate = _.template($('#instance_template').html(), {
            "imports": {
                "timeDelta": timeDelta,
                "timeSinceNow": timeSinceNow,
                "extractModuleViewState": extractModuleViewState
            }
        })
        var roleInstances = _.chain(instances)
            .filter(function(item) { return item.role == role })
            .value()

        state.seeds = _.sortBy(state.seeds, function(seed){
            state[seed].start
        })
        _.forEach(roleInstances, function(instance) {
            $("#" + role).append(nodeTemplate({instance: instance}))
        })
    }

    /**
     * human readable time diff from now
     */
    function timeSinceNow(then, format) {
        if (_.isUndefined(format)) {
            format = "d[d] hh:mm:ss"
        }
        return timeDelta(moment(), then, format)
    }

    /**
     * show human readable time diff in minutes
     */
    function timeDelta(now, then, format) {
        if (_.isUndefined(format)) {
            format = "mm:ss"
        }
        var diff = now.diff(then)
        return moment.duration(diff).format(format, { trim: false })
    }

    //TODO rename
    function extractModuleViewState(instance, seed) {
        if (!_.has(instance.spans, seed)) {
            return { state: "pending", time: 0 }
        }
        var span = instance.spans[seed]
        var state = "unknown"
        var time = ""

        if (_.has(span, "skipped")) {
            state = "skipped"
        }
        if (span.end > 0) {
            if (state != 'skipped' && state != 'failed') {
                state = "complete"
            }
            time = "(took " + timeDelta(moment.unix(span.end), moment.unix(span.start)) + ")"
        } else {
            if (_.has(span, "failed")) {
              state = "failed"
            } else {
              state = "started"
              time = timeSinceNow(moment.unix(span.start), 'hh:mm:ss') + " ago"
            }
        }

        return { state: state, time: time }
    }

    // trigger first data load
    loadData()
    // load data task - fills window.state
    setInterval(function() {
        loadData()
    }, LOAD_INTERVAL_MS)
    // display data task - reads window.state
    setTimeout(function() {
        var viewState = extractViewState(config, window.state)
        displayCell(viewState)
    }, DISPLAY_INTERVAL_MS)
})
  </script>

  <script type="text/template" id="cell_template" style="display: none">
    <div id="cell_status" class="cell">
      <div><pre>
 ██████╗███████╗██╗     ██╗             ██████╗  ███████╗
██╔════╝██╔════╝██║     ██║            ██╔═══██╗ ██╔════╝
██║     █████╗  ██║     ██║     █████╗ ██║   ██║ ███████╗
██║     ██╔══╝  ██║     ██║     ╚════╝ ██║   ██║ ╚════██║
╚██████╗███████╗███████╗██████╗        ╚██████╔╝ ███████║
 ╚═════╝╚══════╝╚══════╝╚═════╝         ╚═════╝  ╚══════╝
      </pre></div>
      <div>Provisioning for cell<strong> <%= name %> </strong><br/>
      <% if (cell_start > 0) { %>
          Started <%= moment.unix(cell_start).format() %> (<%= timeSinceNow(moment.unix(cell_start)) %> ago)</div>
      <% } %>
      <div>Zookeeper span (first exhibitor start trace to last zk_barrier):
      <% if (zk_end > 0) { %>
        <span class="complete">done (took <strong><%= timeDelta(moment.unix(zk_end), moment.unix(zk_start)) %></strong>)</span>
      <% } else { %>
        <% if (zk_start > 0) { %>
          <span class="started">in progress (started <strong><%= timeSinceNow(moment.unix(zk_start)) %> ago</strong>)</span>
        <% } else { %>
          <span class="missing">not started</span>
        <% } %>
      <% } %>
      </div>
      <div>Cell total span (first provision trace to last):
        <% if (cell_end > 0) { %>
          <span class="complete">done (took <strong><%= timeDelta(moment.unix(cell_end), moment.unix(cell_start)) %></strong>)</span>
        <% } else { %>
          <% if (cell_start > 0) { %>
            <span class="started">in progress (started <%= timeDelta(moment(), moment.unix(cell_start), 'hh:mm:ss') %> ago)</span>
          <% } else { %>
            <span class="missing">not started</span>
          <% } %>
        <% } %>
      </div>
    </div>
  </script>

  <script type="text/template" id="instance_template" style="display: none">
    <div id="<%= instance.id %>" class="instance">
      <div class="header">
          <%= instance.role %>/<span id="status_<%= instance.id %>"><%= instance.id %></span>
      </div>
      <table>
        <% _.each(instance.seeds, function(seed) { var ret = extractModuleViewState(instance, seed) %>
        <tr class="<%= ret.state %>">
          <td><span id="seed_<%= instance.id %>_<%= seed %>"><%= seed %></span></td>
          <td><%= ret.state %></td>
          <td><%= ret.time %></td>
        </tr>
        <% }) %>
      </table>
    </div>
  </script>

  <style>

  body {
    font: 12px monospace;
  }
  strong {
    font-weight: bold;
  }
  .header {
    background-color: #ccc;
    font-weight: bold;
  }
  #nucleus, #stateless-body, #stateful-body, #membrane {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .skipped {
      text-decoration: line-through;
      color: #A7A7A7;
      background-color: #DCEFC3;
  }
  .failed {
      background-color: #B90000;
  }
  .complete {
      background-color: #DCEFC3;
  }
  .started {
      background-color: yellowgreen;
  }

  .instance {
    flex: 0 0 32%;
    margin: 0 1em 1em 0;
    background-color: #eee;
  }
  td {
    padding: 0 1em 0 0;
  }
  #cell_status {
      margin: 0 0 1em 0;
  }
  </style>
</head>

<body>
  <div id="root">
    <div id="status"></div>
    <div id="nucleus"></div>
    <div id="stateless-body"></div>
    <div id="stateful-body"></div>
    <div id="membrane"></div>
  </div>
</body>
</html> 
